<h1>Create a Team and Heroes!</h1>
<form action = '/teams' method="post">
  <p1>Team Name: <input type="text" name="team[name]"></p1>
  <p1>Team Motto: <input type="text" name="team[motto]"></p1>
  
  <h2>Hero 1</h2>
  
  <input type='submit' value="Submit">
</form>
